body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
}

a:hover {
  color: #bbb;
}
