.error {
  border-radius: 5px;
  padding: 5px 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
